@charset "utf-8";
/*
 *  * * * CONTENTS * * *
 *
 *  I. EXTERNAL FONTS
 *  II. GLOBAL / HELPER CLASSES
 *  III. HERO SECTION
 *    a. Header & Navigation
 *    b. Main Content
 *    c. Aside / Wayfinder
 *  IV. MEDIA QUERIES
 *    a. Medium devices
 *    b. Large devices
 */

/* I. EXTERNAL FONTS */

@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro'), url('./assets/fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

/* II. GLOBAL / HELPER CLASSES */

body {
  margin: 0;
  padding: 0;
}

.bold-text {
  font-weight: bold;
}

.icon-space__right {
  margin-right: 5px;
}

/* III. HERO SECTION */

section.hero {
  position: relative;
  color: white;
  padding: 2.5rem;
  background-color: lightgray;
  background: url(./assets/images/sailboat_background.png) no-repeat center center fixed;
  background-size: cover;
  z-index: -5;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: -1;
}

/* III.a. HERO SECTION - Header & Navigation */

header {
  display: flex;
  justify-content: space-between;
  height: 62px;
  margin-bottom: 3rem;
}

.header-nav__list {
  vertical-align: middle;
  margin: 18px 0;
}

.header-nav__item {
  display: inline;
  margin-left: 1rem;
  font-family: 'Myriad Pro';
  font-size: 0.8rem;
  text-transform: uppercase;
}

.header-nav button {
  background: transparent;
  border: 1px solid #1e9bd7;
  border-radius: 1rem;
  padding: 4px 30px 2px;
  font-family: 'Myriad Pro';
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #1e9bd7;
}

.header-nav__collapsed {
  display: block;
  margin-top: 14px;
}

.header-nav__show {
  display: none;
}

/* III.b. HERO SECTION - Main Content */

main {
  display: block;
  padding: 1rem 1rem 3rem 1rem;
}

.hero__main-heading {
  font-size: 4rem;
  margin: 0;
  font-family: Arial;
}

.hero__linebreak {
  display: none;
}

.hero__main-text {
  font-family: Baskerville;
  font-size: 1.25rem;
}

.hero__cta {
  width: 220px;
  height: 60px;
  margin-left: auto;
  margin-right: -2.5rem;
  margin-bottom: -2.5rem;
  display: flex;
  background-color: white;
  color: #1e9bd7;
}

.hero__cta-learn-more {
  width: 160px;
  font-family: 'Myriad Pro';
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding: 23px 0;
}

.hero__cta-arrow {
  width: 60px;
  height: 60px;
  background-color: #1e9bd7;
  color: white;
  text-align: center;
}

.hero__cta-arrow i {
  margin: 22px 23px;
}

.hero__scroll-down {
  position: absolute;
  left: calc(50% - 15px);
  bottom: -20px;
  color: #1e9bd7;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.hero__scroll-down i {
  position: absolute;
  left: calc(50% - 16px);
  bottom: 1px;
}

/* III.c. HERO SECTION - Aside / Wayfinder */

aside {
  height: 5rem;
}

.aside-wayfinder .blue-border {
  display: inline-block;
  width: 62px;
  height: 3px;
  border-top: 2px solid #1e9bd7;
}

.aside-wayfinder p {
  display: inline-block;
  font-family: 'Myriad Pro';
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #1e9bd7;
  margin: 0 4px;
}

.aside-wayfinder .dotted-border {
  display: inline-block;
  width: 20px;
  height: 3px;
  border-top: 1px solid #8c8c8c;
  margin: 0 1px;
}

/* IV. MEDIA QUERIES */

/* IV.a. Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  header {
    margin-bottom: 5rem;
  }
  main {
    display: flex;
  }
  aside {
    width: 300px;
  }
  .aside-wayfinder {
    position: absolute;
    transform: rotate(-90deg);
    left: -45px;
    top: 354px;
  }
  .hero__main-heading {
    font-size: 4.25rem;
  }
  .hero__main-text {
    font-size: 1.5rem;
  }
  .hero__cta {
    width: 300px;
    height: 60px;
  }
  .hero__cta-learn-more {
    width: 240px;
    padding: 23px 0;
  }
}

/* IV.b. Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .header-nav__collapsed {
    display: none;
  }
  .header-nav__show {
    display: block;
  }
  .hero__main-heading {
    font-size: 6rem;
  }
  .hero__linebreak {
    display: inline;
  }
  .hero__main-text {
    width: 75%;
  }
}