@charset "utf-8";
@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro'), url('./assets/fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

/* blue highlights - #1e9bd7 */

body {
  margin: 0;
  padding: 0;
}

section.hero {
  position: relative;
  color: white;
  padding: 2.5rem;
  background-color: lightgray;
}

.bold-text {
  font-weight: bold;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  height: 62px;
  margin-bottom: 5rem;
}

.header-logo {}

.header-nav {}

.header-nav__list {
  vertical-align: middle;
  margin: 18px 0;
}

.header-nav__item {
  display: inline;
  margin-left: 1rem;
  font-family: 'Myriad Pro';
  font-size: 0.8rem;
  text-transform: uppercase;
}

.header-nav button {
  background: transparent;
  border: 1px solid #1e9bd7;
  border-radius: 1rem;
  padding: 4px 30px 2px;
  font-family: 'Myriad Pro';
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #1e9bd7;
}

main {
  display: flex;
  padding: 1rem;
}

.hero__main-heading {
  font-size: 7rem;
  margin: 0;
  font-family: Arial;
}

.hero__main-text {
  font-family: Baskerville;
  font-size: 1.5rem;
  width: 75%;
}

.hero__cta {
  position: absolute;
  left: calc(50% - 16px);
  bottom: -16px;
  color: #1e9bd7;
  background-color: white;
  border-radius: 50%;
}

.hero__cta i {
  text-shadow: 1px -1px 2px #8c8c8c;
}

/*
 * Aside / Wayfinder
*/

aside {
  transform: rotate(-90deg);
  width: 400px;
}

.aside-wayfinder {}

.aside-wayfinder .blue-border {
  display: inline-block;
  width: 50px;
  height: 5px;
  border-top: 2px solid #1e9bd7;
}

.aside-wayfinder p {
  display: inline-block;
}

.aside-wayfinder .dotted-border {
  display: inline-block;
  width: 50px;
  height: 5px;
  border-top: 2px dashed #8c8c8c;
}

.icon-space__right {
  margin-right: 5px;
}